.speech-bubble {
  @apply relative bg-white px-4 py-2 dark:bg-secondary-d;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  top: 18px;
  left: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  @apply hidden border-r-white md:block dark:border-r-primary-d;
}
