.speech-bubble {
  @apply px-4 py-2 relative bg-white dark:bg-secondary-d;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  top: 18px;
  left: -19px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  @apply hidden md:block border-r-bubble dark:border-r-primary;
}
