@import "./markdown-light.css";
@import "./markdown-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 5px;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #d7d7d7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .absolute-center {
    @apply min-h-[80vh] flex justify-center items-center;
  }
}

.markdown-body {
  @apply p-[15px] md:p-[30px] border rounded-lg min-h-[3rem];
}

.markdown-body {
  ul {
    @apply !list-disc;
  }

  ol {
    @apply !list-decimal;
  }

  ul,
  ol {
    @apply !pl-[1em];
  }

  blockquote {
    @apply italic;
  }
}
